body {
    background-color: #222;
}

ul {
    display: flex;
    justify-content: center;
    width: 80vw;
    list-style: none;
}

.page-number {
    display: block;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    min-width: 3rem;
    text-align: center;
    cursor: pointer;
}

.page-break {
    color: white;
    font-size: 25px;
}

.active-link {
    background-color: blue;
    color: white;
}